<template>
  <div class="hello">

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to pubic healthcare
      </h1>
      <h2 class="subtitle">
        Gain your health knowledge by discussing with healthcare experts via video calls, or texting
      </h2>
    </div>
  </div>
</section>
    <p>Do you want to create a new room or browser the existing room? </p>
    <button @click.prevent="createNew()" class="button is-danger is-outlined">Create new room</button>
    <button @click.prevent="browseExist()" class="button is-success is-outlined">Browser existing room</button>
    <br><br>
    <div class="create-new" v-show="choice1">
      <input type="text" placeholder="Enter the name of new room" v-model="roomName">

      <input type="text" placeholder="Enter the initial message of new room" v-model="initMessage">
      <button @click.prevent="createNew1()">Create</button>

    </div>
    <div class="existing-room" v-show="choice2">
      <h3>This is the list of existing room</h3>
      <ul id="example-1">
        <li v-for="rn in roomNames" :key="rn.id">
          <button @click.prevent="showRoom(rn.id)" class="button is-info is-inverted">{{ rn.title }}</button>
        </li>
      </ul>

    </div>



    <!---->

  <!--aaaa-->
  <div class="container-fluid"  v-show="showMess">
    <div class="row">
		<div class="col-md-3">
        	 <div class="row chats-row">
                <div class="col-md-12">
                    <a href="#" class="list-group-item open-request">
                       <p>Name:  Matthew Townsen</p>
                       <p>Email:  mtownsen@teamsupport.com</p>
                       <p>Time:  2:47 PM</p>
                       <p>Message:Hi, we help you better health care knowledge.</p>
                       <button class="btn btn-default">Accept</button>
                    </a>
                    <a href="#" class="list-group-item chat-request">Robert Johnson - Healthcare Industries</a>
        	    </div>
                <div class="col-md-12">
                    <a href="#" class="list-group-item">Travis Pitts - TeamSupport</a>
                    <a href="#" class="list-group-item list-group-item-success">Heather Townsen - MyCCA</a>
                    <a href="#" class="list-group-item active">Eric Harrington - TeamSupport</a>
                </div>
        	 </div>
		</div>
        <div class="col-md-9 current-chat">
            <div class="row chat-toolbar-row">
                <div class="col-sm-12">
                    <div class="btn-group chat-toolbar" role="group" aria-label="...">
                        <button id="chat-leave" class="btn btn-default ticket-option" type="button">
                          <i class="glyphicon glyphicon-remove-sign"></i> Leave Chat
                        </button>
                        <button id="chat-invite" class="btn btn-default ticket-option" type="button">
                          <i class="glyphicon glyphicon-plus"></i> Invite
                        </button>
                        <button id="chat-customer" class="btn btn-default ticket-option" type="button">
                          <i class="glyphicon glyphicon-user"></i> Open files
                        </button>
                        <button id="chat-create-ticket" class="btn btn-default ticket-option" type="button">
                          <i class="glyphicon glyphicon-pencil"></i> Create Video call
                        </button>
                        <button id="chat-add-ticket" class="btn btn-default ticket-option" type="button">
                          <i class="glyphicon glyphicon-plus"></i> Add to favorite
                        </button>
                        <button id="chat-open-ticket" class="btn btn-default ticket-option" type="button">
                          <i class="glyphicon glyphicon-open"></i> Open message
                        </button>
                    </div>
                </div>
            </div>
            <div class="row current-chat-area">
                <div class="col-md-12">
                      <ul class="media-list" v-if="roomMessages">
                        <li class="media" v-for="m in roomMessages" :key="m.id" >
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#">
                                        <img class="media-object img-circle " :src="imgSrc">
                                    </a>
                                    <div class="media-body">
                                       {{ m.text }}
                                        <br>
                                       <small class="text-muted">{{m.personEmail}} | {{m.created}}</small>
                                        <hr>
                                    </div>
                                </div>

                            </div>
                        </li>



                    </ul>
                </div>
            </div>
            <div class="row current-chat-footer">
            <div class="panel-footer">
                <div class="input-group">
                  <input type="text" class="form-control" v-model="mess">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" @click.prevent="sendNewMessage(this.roomId,mess)">Send</button>
                  </span>
                </div>
                </div>
            </div>
		</div>
	</div>
</div>

  <!--end aaa-->
  </div>
</template>

<script>

//import
import axios from 'axios';



let config = {'Authorization': 'Bearer ZTZlZGFlMjEtMDg4Ni00NjhlLWFhNTMtODI5ZGY4ODhkMDVjYzM0NWEyM2YtMDcz'};
var CiscoSparkClient = require('../../../api/index')
var accessToken = 'ZTZlZGFlMjEtMDg4Ni00NjhlLWFhNTMtODI5ZGY4ODhkMDVjYzM0NWEyM2YtMDcz'

var sparkClient = new CiscoSparkClient(accessToken)

//create new room
function createNewRoom(roomName,initMess){
  sparkClient.createRoom(roomName,function(err, room){
    if(!err){
        console.log('create a new room')
        //create message
        sparkClient.createMessage(room.id,initMess,function(err,message){
            if (!err)
                console.log("Message is created ")
            else
                console.log("Error Posting Message ("+err.message+")")
        })

    }
    else
    {
        console.log("Error Creating Room ("+err.message+")")
    }
})


}

//create new message
function createNewMess(roomId,messText){
    // messageParams = {}  // Message Parameters are optional
    // messageParams.file = 'https://web.ciscospark.com/images/logo_spark_256px.png'  // The file to attach to the message.

    // //You can also directly upload a file by passing in a file buffer, in which case the returned Spark response will include the file ID. When directly uploading a file you must specify a filename.

    // // var data = fs.readFileSync('document.xlsx');
    // // messageParams.file = data
    // messageParams.filename = 'My uploaded file.xlsx'

    //To set the type of your messageText to HTML or Markdown set messageParams.html messageParams.markdown to true.  If both are set, message will be sent as markdown.
    //messageParams.html = true

    // for a direct 1:1 message just use the users email address as the first parameter or person id
    sparkClient.createMessage(roomId, messText, function(err, response) {
        if (!err){
            console.log('response from spark client ')

        } else {
          console.log(err)
        }

    })

}

//gravatar part
function get_gravatar(email, size) {

    // MD5 (Message-Digest Algorithm) by WebToolkit
    //

    var MD5=function(s){function L(k,d){return(k<<d)|(k>>>(32-d))}function K(G,k){var I,d,F,H,x;F=(G&2147483648);H=(k&2147483648);I=(G&1073741824);d=(k&1073741824);x=(G&1073741823)+(k&1073741823);if(I&d){return(x^2147483648^F^H)}if(I|d){if(x&1073741824){return(x^3221225472^F^H)}else{return(x^1073741824^F^H)}}else{return(x^F^H)}}function r(d,F,k){return(d&F)|((~d)&k)}function q(d,F,k){return(d&k)|(F&(~k))}function p(d,F,k){return(d^F^k)}function n(d,F,k){return(F^(d|(~k)))}function u(G,F,aa,Z,k,H,I){G=K(G,K(K(r(F,aa,Z),k),I));return K(L(G,H),F)}function f(G,F,aa,Z,k,H,I){G=K(G,K(K(q(F,aa,Z),k),I));return K(L(G,H),F)}function D(G,F,aa,Z,k,H,I){G=K(G,K(K(p(F,aa,Z),k),I));return K(L(G,H),F)}function t(G,F,aa,Z,k,H,I){G=K(G,K(K(n(F,aa,Z),k),I));return K(L(G,H),F)}function e(G){var Z;var F=G.length;var x=F+8;var k=(x-(x%64))/64;var I=(k+1)*16;var aa=Array(I-1);var d=0;var H=0;while(H<F){Z=(H-(H%4))/4;d=(H%4)*8;aa[Z]=(aa[Z]|(G.charCodeAt(H)<<d));H++}Z=(H-(H%4))/4;d=(H%4)*8;aa[Z]=aa[Z]|(128<<d);aa[I-2]=F<<3;aa[I-1]=F>>>29;return aa}function B(x){var k="",F="",G,d;for(d=0;d<=3;d++){G=(x>>>(d*8))&255;F="0"+G.toString(16);k=k+F.substr(F.length-2,2)}return k}function J(k){k=k.replace(/rn/g,"n");var d="";for(var F=0;F<k.length;F++){var x=k.charCodeAt(F);if(x<128){d+=String.fromCharCode(x)}else{if((x>127)&&(x<2048)){d+=String.fromCharCode((x>>6)|192);d+=String.fromCharCode((x&63)|128)}else{d+=String.fromCharCode((x>>12)|224);d+=String.fromCharCode(((x>>6)&63)|128);d+=String.fromCharCode((x&63)|128)}}}return d}var C=Array();var P,h,E,v,g,Y,X,W,V;var S=7,Q=12,N=17,M=22;var A=5,z=9,y=14,w=20;var o=4,m=11,l=16,j=23;var U=6,T=10,R=15,O=21;s=J(s);C=e(s);Y=1732584193;X=4023233417;W=2562383102;V=271733878;for(P=0;P<C.length;P+=16){h=Y;E=X;v=W;g=V;Y=u(Y,X,W,V,C[P+0],S,3614090360);V=u(V,Y,X,W,C[P+1],Q,3905402710);W=u(W,V,Y,X,C[P+2],N,606105819);X=u(X,W,V,Y,C[P+3],M,3250441966);Y=u(Y,X,W,V,C[P+4],S,4118548399);V=u(V,Y,X,W,C[P+5],Q,1200080426);W=u(W,V,Y,X,C[P+6],N,2821735955);X=u(X,W,V,Y,C[P+7],M,4249261313);Y=u(Y,X,W,V,C[P+8],S,1770035416);V=u(V,Y,X,W,C[P+9],Q,2336552879);W=u(W,V,Y,X,C[P+10],N,4294925233);X=u(X,W,V,Y,C[P+11],M,2304563134);Y=u(Y,X,W,V,C[P+12],S,1804603682);V=u(V,Y,X,W,C[P+13],Q,4254626195);W=u(W,V,Y,X,C[P+14],N,2792965006);X=u(X,W,V,Y,C[P+15],M,1236535329);Y=f(Y,X,W,V,C[P+1],A,4129170786);V=f(V,Y,X,W,C[P+6],z,3225465664);W=f(W,V,Y,X,C[P+11],y,643717713);X=f(X,W,V,Y,C[P+0],w,3921069994);Y=f(Y,X,W,V,C[P+5],A,3593408605);V=f(V,Y,X,W,C[P+10],z,38016083);W=f(W,V,Y,X,C[P+15],y,3634488961);X=f(X,W,V,Y,C[P+4],w,3889429448);Y=f(Y,X,W,V,C[P+9],A,568446438);V=f(V,Y,X,W,C[P+14],z,3275163606);W=f(W,V,Y,X,C[P+3],y,4107603335);X=f(X,W,V,Y,C[P+8],w,1163531501);Y=f(Y,X,W,V,C[P+13],A,2850285829);V=f(V,Y,X,W,C[P+2],z,4243563512);W=f(W,V,Y,X,C[P+7],y,1735328473);X=f(X,W,V,Y,C[P+12],w,2368359562);Y=D(Y,X,W,V,C[P+5],o,4294588738);V=D(V,Y,X,W,C[P+8],m,2272392833);W=D(W,V,Y,X,C[P+11],l,1839030562);X=D(X,W,V,Y,C[P+14],j,4259657740);Y=D(Y,X,W,V,C[P+1],o,2763975236);V=D(V,Y,X,W,C[P+4],m,1272893353);W=D(W,V,Y,X,C[P+7],l,4139469664);X=D(X,W,V,Y,C[P+10],j,3200236656);Y=D(Y,X,W,V,C[P+13],o,681279174);V=D(V,Y,X,W,C[P+0],m,3936430074);W=D(W,V,Y,X,C[P+3],l,3572445317);X=D(X,W,V,Y,C[P+6],j,76029189);Y=D(Y,X,W,V,C[P+9],o,3654602809);V=D(V,Y,X,W,C[P+12],m,3873151461);W=D(W,V,Y,X,C[P+15],l,530742520);X=D(X,W,V,Y,C[P+2],j,3299628645);Y=t(Y,X,W,V,C[P+0],U,4096336452);V=t(V,Y,X,W,C[P+7],T,1126891415);W=t(W,V,Y,X,C[P+14],R,2878612391);X=t(X,W,V,Y,C[P+5],O,4237533241);Y=t(Y,X,W,V,C[P+12],U,1700485571);V=t(V,Y,X,W,C[P+3],T,2399980690);W=t(W,V,Y,X,C[P+10],R,4293915773);X=t(X,W,V,Y,C[P+1],O,2240044497);Y=t(Y,X,W,V,C[P+8],U,1873313359);V=t(V,Y,X,W,C[P+15],T,4264355552);W=t(W,V,Y,X,C[P+6],R,2734768916);X=t(X,W,V,Y,C[P+13],O,1309151649);Y=t(Y,X,W,V,C[P+4],U,4149444226);V=t(V,Y,X,W,C[P+11],T,3174756917);W=t(W,V,Y,X,C[P+2],R,718787259);X=t(X,W,V,Y,C[P+9],O,3951481745);Y=K(Y,h);X=K(X,E);W=K(W,v);V=K(V,g)}var i=B(Y)+B(X)+B(W)+B(V);return i.toLowerCase()};

    var size = size || 80;

    return 'http://www.gravatar.com/avatar/' + MD5(email) + '.jpg?s=' + size;
}



export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      choice1:false,
      choice2:false,
      roomName:'',
      roomNames:[],
      initMessage:'',
      roomMessages:[],
      showMess:false,
      imgSrc:'',
      mess:'',
      roomId:''
    }
  },
  methods: {
    createNew(){
      console.log('create new')
      this.choice1= true
      this.choice2= false
      console.log(this.roomName)
      // createNewRoom();

    },
    browseExist(){
      console.log('existing one')
      this.choice2= true
      this.choice1= false
      axios.get('https://api.ciscospark.com/v1/rooms',{headers:config})
      .then(res => {
        console.log(res)
        this.roomNames = res.data.items
        console.log(this.roomNames)

      })
      .catch(err => {
        console.log(err)
      })
    },
    createNew1(){
      console.log(this.roomName)
      createNewRoom(this.roomName,this.initMessage);

    },
    showRoom(rn){
      this.showMess=true
      this.imgSrc = get_gravatar('hienminhnguyen711@gmail.com',50)

      this.roomId = rn
      //call api
      axios.get('https://api.ciscospark.com/v1/messages?roomId='+rn,{headers:config})

      .then(res => {
        this.showMess=true


        this.roomMessages = res.data.items
        console.log(this.roomMessages.length+'ok')
        // this.showMess = false



      })
      .catch(err => {
        console.log(err)
      })
    },
    //send new message
    sendNewMessage(roomId,mess){
      console.log('room mess is '+this.roomMessages)
      console.log('send new mess')
      console.log(this.roomId)
      // createNewMess(this.roomId, this.mess)
       sparkClient.createMessage(this.roomId, mess, function(err, response) {
        if (!err){
          console.log('here is the new mess')
          console.log(response)

          console.log('room mess 111'+roomMessages)
            this.roomMessages.push(response)
            console.log('response from spark client ')

        } else {
          console.log(err)
        }

    })

      // // setTimeout(this.showRoom(this.roomId),5000);
      // sparkClient.listMessages(this.roomId,function(err,messages){
      //     if(!err){
      //       console.log('goi ra cai nay')
      //       this.roomMessages = messages.items;
      //       for (i=0;i<messages.items.length;i++) {
      //         console.log(messages.items.length)
      //           console.log(messages.items[i].id)
      //           console.log('goi ra cai nay lun')


      //           //If Spark message contains files, messages.items[i].files will be an array of URLs to the document(s) in that message
      //           //Like in the Spark client, a user can only access file URLs for documents in rooms they are a member of
      //           if (messages.items[i].files) {
      //               for (x=0;x<messages.items[i].files.length;x++) {
      //                   fileURL = messages.items[i].files[x]
      //                   console.log(fileURL)
      //               }
      //           }
      //       }
      //     }
      // })

    }

  },
  // watch:{
  //   roomMessages:{
  //     handler: function (after, before) {
  //       // Return the object that changed
  //       // let changed = after.filter( function( p, idx ) {
  //       //   return Object.keys(p).some( function( prop ) {
  //       //     return p[prop] !== before[idx][prop];
  //       //   })
  //       // })
  //       // // Log it
  //       // console.log(changed)
  //     },
  //     deep: true
  //   }
  // }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
/*start*/
.blue { background: blue }
.grey { background: grey }
.chats-row { height: 100vh; }
.chats-row div {
    height: 50%;
    border: 1px solid #ddd;
    padding: 0px;
}

.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.current-chat {
    height: 100vh;
    border: 1px solid #ddd;
}

.chat-toolbar-row {
    background-color: #f5f5f5;
}

.chat-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-chat-area {
    padding-top: 10px;
    overflow: auto;
    height: 85vh;
}

.current-chat-footer {
    position: absolute;
    bottom: 0;

}



</style>
